/*
 * TABS
 * This section defines styles that create 
 * tabs for articles within the case feed
*/

/* This sub-section defines the unique
 * styles for the tab of each feed type
*/
article[data-type="TextPost"]::before,
article[data-type="LinkPost"]::before,
article[data-type="ContentPost"]::before {
    content: "INTERNAL";
    background-color: #FFF6D9;
    border: 1px solid #EFDAA3;
    color: goldenrod;
}

article[data-type="EmailMessageEvent"]::before,
article[data-type="CaseCommentPost"]::before {
    content: "PUBLIC";
    background-color: #dfeffc;
    border: 1px solid #a3e1ef;
    color: #336699;
}

article[data-type="MilestoneEvent"]::before {
    content: "⏰ SLA";
    background-color: mistyrose;
    border: 1px solid lightpink;
    color: red;
}

article[data-type="CallLogPost"]::before {
    content: "📞 CALL";
    background-color: lightcyan;
    border: 1px solid #7bcbce;
    color: cadetblue;
}

/* This sub-section defines the common 
 * styles for the descriptive tab */
article[data-type="TextPost"]::before,
article[data-type="LinkPost"]::before,
article[data-type="ContentPost"]::before, 
article[data-type="EmailMessageEvent"]::before,
article[data-type="CaseCommentPost"]::before,
article[data-type="MilestoneEvent"]::before,
article[data-type="CallLogPost"]::before{
    border-bottom-width: 0px;
    border-radius: 6px 6px 0px 0px;
    font-size: 12px;
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
    min-width: 80px;
    padding: 2px 12px;
    position: absolute;
    top: -19px;
    right: 23px;
    text-align: center;
    z-index: 3;
}

/*
 * MAIN BODY (ARTICLES)
 * This section defines styles that alter 
 * select articles within the case feed
*/

/* This sub-section defines the unique 
 * styles for each feed type
*/
article[data-type="TextPost"],
article[data-type="LinkPost"],
article[data-type="ContentPost"] {
    background-color: #FFF6D9;
    border-color: #EFDAA3 !important;
}

article[data-type="EmailMessageEvent"],
article[data-type="CaseCommentPost"] {
    background-color: #dfeffc;
    border-color: #a3e1ef;
}

article[data-type="MilestoneEvent"] {
    background-color: mistyrose;
    border-color: lightpink !important;
}

article[data-type="CallLogPost"] {
    background-color: lightcyan;
    border-color: #7bcbce !important;
}


/* This sub-section defines the common 
 * styles for the feed articles */
article[data-type="TextPost"],
article[data-type="LinkPost"],
article[data-type="ContentPost"],
article[data-type="EmailMessageEvent"],
article[data-type="CaseCommentPost"],
article[data-type="MilestoneEvent"],
article[data-type="CallLogPost"]{
    border-style: solid;
    border-width: 1px;
    padding: 12px 16px 14px;
    margin-bottom: 26px;
    border-radius: 3px;
}