:root {
  --internal-color: #FFF6D9;
}


/**
 * SINGLE CASE VIEW
 */

/**
 * Layout for cases
 */

/**
 * Main panel
 */
.region-main[flexipage-recordHomeTemplateDesktop2_recordHomeTemplateDesktop2] {
    width: 75% !important;
}


/**
 *  Main panel ticket state
 */
.runtime_sales_pathassistantPathAssistant article{
  
}



/**
 * Righthand panel
 */
.region-sidebar-right[flexipage-recordHomeTemplateDesktop2_recordHomeTemplateDesktop2] {
    width: 25% !important;
}

/**
 * Padding for top of each article
 */
.cuf-feedElement,
.supportCompactRecordFeedContainerDesktop .cuf-feedElementIterationItem {
    padding-top: 15px !important;
}

/**
 * Margin for each row set
 */
.supportCompactFeedItem article.cuf-feedElement.cuf-feedElement {
    margin-bottom: 20px;
}

/**
 * FEED EMAIL 
 * This section defines styles within email case feed.
 */
article[data-type="TextPost"],
article[data-type="LinkPost"],
article[data-type="ContentPost"],
article[data-type="EmailMessageEvent"],
article[data-type="CaseCommentPost"],
article[data-type="MilestoneEvent"],
article[data-type="CallLogPost"]{
    border-style: solid;
    border-width: 1px;
    padding: 12px 16px 14px;
    margin-bottom: 26px;
    border-radius: 3px;
}


article[data-type="TextPost"]::before,
article[data-type="LinkPost"]::before,
article[data-type="ContentPost"]::before,
article[data-type="EmailMessageEvent"]::before,
article[data-type="CaseCommentPost"]::before,
article[data-type="MilestoneEvent"]::before,
article[data-type="CallLogPost"]::before{
    border-bottom-width: 0px;
    border-radius: 6px 6px 0px 0px;
    font-size: 12px;
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
    min-width: 80px;
    padding: 2px 12px;
    position: absolute;
    top: -19px;
    right: 40px;
    text-align: center;
    z-index: 3;
}


/** 
 * This sub-section defines the unique styles for each feed type
 */
article[data-type="TextPost"],
article[data-type="LinkPost"],
article[data-type="ContentPost"] {
    background-color:var(--internal-color);
    border-color: #EFDAA3 !important;
}

article[data-type="TextPost"]::before,
article[data-type="LinkPost"]::before,
article[data-type="ContentPost"]::before {
    content: "INTERNAL";
    background-color:var(--internal-color);
    border: 1px solid #EFDAA3;
    color: goldenrod;
}


article[data-type="EmailMessageEvent"],
article[data-type="CaseCommentPost"] {
    background-color: #dfeffc;
    border-color: #a3e1ef;
}


article[data-type="EmailMessageEvent"]::before,
article[data-type="CaseCommentPost"]::before {
    content: "PUBLIC";
    background-color: #dfeffc;
    border: 1px solid #a3e1ef;
    color: #336699;
}


article[data-type="MilestoneEvent"] {
    background-color: mistyrose;
    border-color: lightpink !important;
}

article[data-type="MilestoneEvent"]::before {
    content: "SLA";
    background-color: mistyrose;
    border: 1px solid lightpink;
    color: red;
}

article[data-type="CallLogPost"] {
    background-color: lightcyan;
    border-color: #7bcbce !important;
}

article[data-type="CallLogPost"]::before {
    content: "📞 CALL";
    background-color: lightcyan;
    border: 1px solid #7bcbce;
    color: cadetblue;
}


/**
 * POST EMAIL 
 * This section defines styles for articles within the post case feed.
 */
.forceChatterTextPostDesktop{
    background-color:var(--internal-color);
}

